on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential cmake

      - name: Configure CMake
       
        
        run: |
          mkdir build
          cd build
          cmake ..
          cmake --build . --config Release
          mkdir -p ../bin
          cp * -r ../bin/
      

      

      
      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: my-executable
          path: build/   # Change to your actual executable paths
      
      

      - name: Commit and push executable
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add bin/
          git commit -m "Update executable after build [skip ci]" || echo "No changes to commit"
          git push


      - name: Build
        run: cmake --build build

      - name: Run tests
        run: ctest --test-dir build
